/* state.composition === 'row' */
.layoutCompositionRow {
  .logoSymbol {
    margin-right: 0.5rem;

    & + .logoTextContainer {
      align-items: initial;
      text-align: initial;
    }
  }
}

/* state.composition === 'column' */
.layoutCompositionColumn {
  .logoWrapper {
    flex-direction: column;
  }
  .logoSymbol {
    margin-bottom: 0.5rem;
  }
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  @media (max-width: 960px) {
    width: 100%;
  }

  .logoSymbol {
    width: 18%;
    font-size: 50px;
    font-weight: 700;
  }

  .logoTextContainer {
    width: 82%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1;
  }

  .logoText {
    width: 100%;
  }

  .logoTagline {
    width: 90%;
    margin-top: 0.5rem;
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  color: white;
  mix-blend-mode: difference;
}
