.text,
.tagline {
  max-width: 100%;
  line-height: 1;
  text-align: center;
}

.text {
  width: 70%;
  margin-bottom: 1rem;
}

.tagline {
  width: 60%;
}

@media (max-width: 960px) {
  .text,
  .tagline {
    width: 100%;
  }
}
